// ==========================================================================
//  Navigation modules
// ==========================================================================


// BASE
// -----------------------------------------------------------------------------

[role="navigation"], .nav {
	@include rem(margin-bottom, 24px);
}

// SUBMODULES
// -----------------------------------------------------------------------------

// ------- Global/main nav -------------------------------------------

[role="navigation"].global {

}


// ------- Local nav -------------------------------------------

$color--inactive: lighten($color-text--primary, 50);
$color--hover: lighten($color-text--primary, 20);

.tabs {
  @include inline-list;

  a {
    @include inline-block;
    @include base-transition;
    text-decoration: none;
  }
}

  .tabs.level1 {
    $border-width: 4px;
    $border-color: #eee;

    border-bottom: $border-width solid $border-color;

    li {
      margin: 0 -3px 0 0;
      padding: 0;
    }

    a {
      padding: em(12) em(12);
      margin: 0 1px -#{$border-width} 0;
      // background: $beige--light;
      border-bottom: $border-width solid $border-color;
      color: $color--inactive;

      &:hover {
        color: $color--hover;
        border-bottom-color: darken($border-color, 10);
      }

      &.active {
        // color: white;
        // background: green;
        color: $color-text--primary;
        border-bottom-color: $green;
        // border-bottom-color: $green;

        &:hover {
          border-bottom-color: $green;
        }
      }
    }
  }

  .tabs.level2 {
    @include rem(margin, 6px 0 0 0);
    border-bottom: $hairline--light;

    a {
      @include rem(font-size, 14px);
      padding: em(4) em(16);
      margin: em(16) 0;
      color: $color--inactive;

      &:hover {
        color: $color--hover;
      }

      &.active {
        color: white;
        background: $color-text--primary;
        border-radius: 100px;

      }
    }
  }

// ------- Tiles/thumbs -------------------------------------------

$tile-cols: 3;

[role="navigation"].tile-grid {
  @include rem(margin-bottom, 18px);
  text-align: center;

  ul {
    @include inline-list;
    // vertical-align: top;

    li {
      vertical-align: top;
      width: 20%;
      margin-right: $margin-whitespace;
    }
  }
}

  .tile {
    @include rem(padding, 6px);
    @include rem(font-size, 14px);
    display: block;
    vertical-align: top;

    &:hover, &:active {
      background: lighten($beige--light, 10%);
    }

    img {
      vertical-align: top;
    }
  }




