// ==========================================================================
//  Navigation modules
// ==========================================================================


// BASE
// -----------------------------------------------------------------------------
 
table {
  width: 100%;
  margin: em(12) 0;
  font-size: rem(14px);
  
  tr {
    border-top: $hairline-light;
  }
  
  td {
    //width: 100%/$table-cols;
    padding: em(6) em(6);
    vertical-align: top;

    p {
      font-size: inherit;
      margin-top: 0;

      strong {
        font-size: inherit;
      }
    }
  }
}

// SUBMODULES
// -----------------------------------------------------------------------------

.findings {
  vertical-align: middle;

  thead tr {
    border-top: none;
    border-bottom: $hairline;
  }

  th {
    @include rem(font-size, 14px);
    @include rem(padding, 6px);
    color: $color-text--secondary;
  }

  tr {
    &:nth-child(2n) {
      background: lighten($beige--light, 10%);
    }
  }

  td {
    @include rem(font-size, 18px);
    @include rem(padding, 6px);
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    color: $orange !important;
  }
}

  .findings-icon {
    text-align: left;
  }