// ==========================================================================
//  Navigation modules
// ==========================================================================


// BASE
// -----------------------------------------------------------------------------
 
table {
  width: 100%;
  margin: em(12) 0;
  font-size: rem(14px);
  
  tr {
    border-top: $hairline-light;
  }
  
  td {
    //width: 100%/$table-cols;
    padding: em(6) em(6);
    vertical-align: top;

    p {
      font-size: inherit;
      margin-top: 0;

      strong {
        font-size: inherit;
      }
    }
  }
}

// SUBMODULES
// -----------------------------------------------------------------------------