{% assign pagewords = page.categories[0] | split: " " %}
{% if page.topic %}{% assign topicwords = page.topic | split: "_" %}{% endif %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.categories | first | replace: " ", "-" | downcase }}-{% if page.topic %}{{ page.topic | replace: " ", "-" | downcase }}-{% endif %}{{ page.title | replace: " ", "-" | downcase }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% capture level %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
    {% capture relativepath %}{% for i in (3..level) %}../{% endfor %}{% endcapture %}

    <link rel="stylesheet" href="{{ relativepath }}/assets/css/pdf.css">
    
  </head>

  <body>

    <table class="wrapper">
      <thead class="header global">
        <tr>
          <th>
            <img src="{{ site.url }}{{ site.baseurl }}{{ serverpath }}/assets/images/logo-psi-print.png" alt="Population Services International" />
            <h5>Social Marketing Evidence Base</h5>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <h1><strong>
              {% comment %}Loop through the words in the page title and topic and capitalize. For topic, split first at the spaces, then (inside the loop) split by hyphens.{% endcomment %}
              {% if page.categories[0] != "hiv" %}{% for word in pagewords %}{{ word | capitalize }}{% unless forloop.last %} {% endunless %}{% endfor %}{% else %}{{ page.categories | first | upcase }}{% endif %}
              {% if page.topic %} &rsaquo; {% for word in topicwords %}{% assign hyphens = word | split: "-" %}{% for w in hyphens %}{{ w | capitalize }}{% unless forloop.last %}-{% endunless %}{% endfor %}{% unless forloop.last %} {% endunless %}{% endfor %}{% endif %}:</strong> Studies Reporting {% if page.title != "Behaviors" %}{{ page.title }}{% else %}Behavior Change{% endif %} Outcomes</h1>
          </td>
        </tr>

        
        <tr{% comment %} class="{% cycle "nobreak", "break" %}"{% endcomment %}>
          <td class="study">
            
            <table class="study-stats">
              <thead>
                <tr>
                  <th class="title">Title</th>
                  <th class="name">Authors</th>
                  <th class="journal">Journal &amp; Link</th>
                  <th class="location">Location</th>
                  <th class="population">Population</th>
                  <th class="intervention">Intervention Description</th>
                  <th class="outcomes">Outcomes</th>
                  <th class="design">Design</th>
                  <th class="sampling">Sampling Method</th>
                  <th class="soe">SOE Score&nbsp;<sup>1</sup></th>
                  <th class="smbc">SMBC&nbsp;<sup>2</sup></th>
                </tr>
              </thead>
              <tbody>
                {% for row in site.data.[page.data].content_hash %}
                <tr class="study-details">
                  <td class="title">
                    <strong>{{ row.title }}</strong>
                  </td>
                  <td class="name">
                    <strong>{{ row.authors }}</strong>
                  </td>
                  <td class="journal">
                    {{ row.journal }}<br />
                    <span class="link">{{ row.link }}</span>
                  </td>
                  <td class="location">{{ row.location }}</td>
                  <td class="population">{{ row.population }}</td>
                  <td class="intervention">{{ row.intervention }}</td>
                  <td class="outcomes">
                    {% if row.outcomes-bf %}
                    <h5>Behaviorial Factors</h5>
                    <p>{{ row.outcomes-bf }}</p>
                    {% endif %}

                    {% if row.outcomes-behavior %}
                    <h5>Behaviors</h5>
                    <p>{{ row.outcomes-behavior }}</p>
                    {% endif %}

                    {% if row.outcomes-health %}
                    <h5>Health</h5>
                    <p>{{ row.outcomes-health }}</p>
                    {% endif %}
                  </td>
                  <td class="design">{{ row.design }}</td>
                  <td class="sampling">{{ row.sampling }}</td>
                  <td class="soe">{{ row.soe }}</td>
                  <td class="smbc">{{ row.smbc }}</td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
            
            {% comment %}<section class="grid">
              <section class="intervention">
                <h4>Intervention Description</h4>
                <p>{{ row.intervention }}</p>
              </section>

              <section class="outcomes">
                <h4>Outcomes</h4>
                <dl>
                  {% if row.outcomes-bf %}
                  <dt>Behaviorial Factors</dt>
                  <dd>{{ row.outcomes-bf }}</dd>
                  {% endif %}

                  {% if row.outcomes-behavior %}
                  <dt>Behaviors</dt>
                  <dd>{{ row.outcomes-behavior }}</dd>
                  {% endif %}

                  {% if row.outcomes-health %}
                  <dt>Health</dt>
                  <dd>{{ row.outcomes-health }}</dd>
                  {% endif %}
                </dl>
              </section>
            </section>{% endcomment %}
          </td>
        </tr>
      

      <tfoot class="footer global">
        <tr>
          <td>
            <small>
              <h5>Notes</h5>
              <ol class="footnotes">
                <li>Strength of Evidence Score</li>
                <li>Social Marketing Benchmark Criteria</li>
              </ol>
            <small>
              <ul>
                <li>&copy; Copyright 2014 Population Services International</li>
                <li>1120 19th Street, NW, Suite 600, Washington, DC 20036</li>
                <li><strong>P</strong> (202) 785-0072 | <strong>F</strong> (202) 785-0120</li>
              </ul>
            </small>
          </td>
        </tr>
      </tfoot>
    </div>
  </body>
</html>