// ===============================================================================
// Frameworks
// ===============================================================================

@import "vendor/bourbon/bourbon";
@import "singularitygs";

// ===============================================================================
// Settings & resets
// ===============================================================================

@import "core/fonts";

@import "core/settings";
@import "core/normalize";


// ===============================================================================
// Core style imports
// ===============================================================================

@import "core/helpers";
@import "core/base";
// @import "core/print";
// @import "core/syntax";
@import "core/layout";
@import "core/content";

// ===============================================================================
// Modules & components
// ===============================================================================

// // components
// @import "modules/button";

// // modules
// @import "modules/header";
// @import "modules/navigation";
// @import "modules/footer";
// @import "modules/button";
// @import "modules/post";

// ===============================================================================
// Styles of Shame
// -> put quick and dirty hacks here, then clean up & organize later
// ===============================================================================

html, body {
  background: #fff;
}

$table-cols: 9;
$hairline: 1px solid #ccc;
$hairline-light: 1px solid #eee;

header {
  max-width: $page-width;
  margin: 0 auto;
  padding: rem(12px) 0;
  border-bottom: $hairline-light;
  font-size: rem(12px);
}

#home section {
  border-top: 1px solid #ccc;
  padding: rem(12) 0;
}

[role="main"] {
  margin: rem(18px) auto;
  max-width: $page-width;
}

.tabs {
  $border-width: 4px;
  $border-color: #eee;
  @include inline-list;
  margin-bottom: rem(24px);
  border-bottom: $border-width solid $border-color;

  ul {
    
  }

  li {
    margin: 0 -3px 0 0;
    padding: 0;
  }

  a {
    @include inline-block;
    @include base-transition;
    padding: em(12) em(12);
    margin: 0 1px -#{$border-width} 0;
    // background: $beige--light;
    border-bottom: $border-width solid $border-color;
    color: lighten($color-text--primary, 50);
    text-decoration: none;

    &:hover {
      color: lighten($color-text--primary, 20);
      border-bottom-color: darken($border-color, 10);
    }

    &.active {
      // color: white;
      // background: green;
      color: $color-text--primary;
      border-bottom-color: $green;
      // border-bottom-color: $green;

      &:hover {
        border-bottom-color: $green;
      }
    }
  }
}

.posts {
  @include unstyled-list;
  margin: 0;
  padding: 0;
}

#{headers()} {
  line-height: 1.4;
}

h4 {
  font-size: rem(18px);
  font-weight: bold;
  padding: 0;
}

h5, h6 {
  font-size: rem(14px);
  // line-height: em(14);
  font-weight: bold;
  margin-top: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  padding: 2em;
  width: 624px;
}

.node-type-page {
  img {
    float: none;
    max-width: 100%;
  }
}

table {
  width: 100%;
  margin: em(12) 0;
  font-size: rem(14px);
  
  tr {
    border-top: $hairline-light;
  }
  
  td {
    //width: 100%/$table-cols;
    padding: em(6) em(6);
    vertical-align: top;

    p {
      font-size: inherit;
      margin-top: 0;

      strong {
        font-size: inherit;
      }
    }
  }
}

  .category {
    font-weight: bold;
    width: 40%;
  }

.studies {
  clear: both;
  overflow: hidden;
}

.studies-listing {
  border-top: $hairline;
  clear: both;
  padding-top: rem(24px);
  margin-bottom: rem(24px);
  
  dl {
    margin: em(12) 0;
    clear: both;
    overflow: hidden;
    
    &:after {
      @include clearfix;
    }
  }
  
  dt {
    font-weight: bold;
    display: table-cell;
    float: left;
    clear: left;
    width: 40%;
    margin-right: em(5);
  }
  
  dd {
    display: table-cell;
    margin-left: 0;
    clear: right;
    width: 55%;
    float: left;
  }
}