// ===============================================================================
// Frameworks
// ===============================================================================

@import "vendor/bourbon/bourbon";
@import "singularitygs";

// ===============================================================================
// Settings & resets
// ===============================================================================

@import "core/fonts";

@import "core/settings";
@import "core/normalize";

// ===============================================================================
// Core style imports
// ===============================================================================

@import "core/helpers";
@import "core/base";
// @import "core/print";
// @import "core/syntax";
// @import "core/layout";
@import "core/content";

// ===============================================================================
// PDF-specific styles
// ===============================================================================

$total-cols: 24;
$header-h: 42px;
$footer-h: 40px;

@mixin colspan($cols) {
  width: (100%/$total-cols) * $cols;
}

@mixin wrap {
  -ms-word-break: break-all;

     /* Be VERY careful with this, breaks normal words wh_erever */
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}

// @media screen {
//   thead {
//       display: block;
//   }
//   tfoot {
//       display: block;
//   }
// }

@media print {
  * {
    background: transparent !important;
  }

  @page {
      margin: 1cm;
  }

  .header.global {
    display: table-header-group;
  }
  .footer.global {
    display: table-footer-group;
    // position: fixed;
    bottom: 0;
  }

  .section,
  .study-stats,
  hgroup,
  img {
      page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
      orphans: 3;
      widows: 3;
  }
  h2,
  h3 {
      page-break-after: avoid;
  }
}

html, body {
  width: 100%;
}

h1 { font-size: 22pt; }
h2 { font-size: 18pt; }
h3 { font-size: 14pt; }
h4 { font-size: 12pt; }
h5 { font-size: 10pt; }
h6 { font-size: 8pt; }

hgroup {
  @include rem(margin-bottom, 18px);
  line-height: 1.6;

  h4 {
    margin-top: 0.5em;
    color: lighten($color-text--primary, 10);
  }

  h5 {
    margin-top: 0.5em;
    color: $beige;
    font-weight: normal;
  }
}

p, ul, li, dl, dt, dd { font-size: 10pt; }

sup {
  color: $beige;
}

.link {
  @include inline-block;
  border-left: $hairline;
  padding-left: 1em;
  margin-left: 0.8em;
  color: $green;
}

img {
    max-width: 100% !important;
}

.study-stats {
  // page-break-before: avoid;
}

.wrapper {
  // margin: 0 auto;
  // width: rem(800px);
  width: 100%;
  // padding-top: $header-h;
  // padding-bottom: $footer-h;
}


.header.global, .footer.global {
  width: 100%;
}

.header.global {
  top: 0;
  padding: 0;
  margin: 0 0 2em 0;
  // @include inline-list--centered($header-h);
  height: $header-h;
  text-align: left;

  img {
    // @include inline-block--centered;
    position: relative;
    @include inline-block;
    // vertical-align: middle;
  }

  h5 {
    // @include inline-block--centered($header-h);
    @include inline-block;
    // vertical-align: middle;
    margin-top: 0.5em;
    margin-left: 0.5em;
    color: $color-text--secondary;
  }
}

.footer.global {
  @include rem(padding, 6px 0);
  margin: 2em 0 0 0;
  color: $color-text--secondary;
  bottom: 0;
  text-align: left;
  // border-top: $hairline;

  ul {
    @include inline-list;
    margin: 0;
    padding: 0.5em 0;
    clear: both;
    border-top: $hairline--light;

    li {
      margin-left: 1em;
      font-size: 8pt;

      &:first-child {
        margin-left: 0;
      }
    }
  }
  
  .footnotes {
    margin: 0;
    padding-left: 2em;
    font-size: 8pt;
    color: $color-text--secondary;
    // @include inline-list(true);

    li {
      float: left;
      margin-left: 3em;

      &:first-child {
        margin-left: 0;
      }
    }
  }

}

.study {
  @include rem(padding, 30px 0);
  border-top: $hairline;
}

h1 {
  @include rem(margin, 30px 0);
  color: $color-text--secondary;

  strong {
    color: $green;
  }
}

.study-stats {
  width: 100% !important;
  font-size: 10pt;

  tr {
    vertical-align: top;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }

  thead {
    border-bottom: 2px solid #ccc;
    // background: #efefef;

    tr {
      vertical-align: bottom;
    }
  }

  td, th {
    padding: rem(12px);

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  p {
    margin: 0 0 1em 0;
  }
}

.title {
  @include colspan(5);
  font-weight: bold;
}

.link {
  // @include colspan(2);
  @include wrap;
  font-weight: normal;
}

.author {
  @include colspan(4);
}

// .journal {
//   @include colspan(2);
// }

// .location {
//   @include colspan(2);
// }

// .population {
//   @include colspan(2);
// }

// .intervention {
//   @include colspan(4);
// }

// .outcomes {
//   @include colspan(5);
// }

// .design {
//   @include colspan(2);
// }

// .sampling {
//   @include colspan(2);
// }

.soe {
  @include colspan(2);
}

// .smbc {
//   @include colspan(2);
// }

.grid {
@include rem(margin-top, 24px);
vertical-align: top;

$gutter: 1em;

.outcomes, .intervention {
  @include inline-block;
  vertical-align: top;
  width: 50%;
  margin-right: -4px;
}

.outcomes {
  padding-left: ($gutter/2);
}

.intervention {
  padding-right: ($gutter/2);
}
}

dl {
  dt {
    font-weight: bold;
    margin-top: 0.5em;

    &:first-child {
      margin-top: 0;
    }
  }

  dd {
    margin-left: 0;
    padding-left: 0;
  }
}